<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/jQueryLbt/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="/assets/jQueryLbt/css/flexible-bootstrap-carousel.css" />
    <link rel="stylesheet" href="/assets/jQueryLbt/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/jQueryLbt/css/styles.css" />
</head>
<body>

<section class="examples">
    <div class="container">
        <div class="carousel-example">
            <!-- FLEXIBLE BOOTSTRAP CAROUSEL -->
            <div id="simple-content-carousel" class="carousel flexible slide" data-ride="carousel" data-interval="5000" data-wrap="true">

                <div class="items">
                    <div class="flex-item">
                        <img class="img-responsive" src="/assets/jQueryLbt/images/item1.jpg"/>
                    </div>

                    <div class="flex-item">
                        <img class="img-responsive" src="/assets/jQueryLbt/images/item2.jpg"/>
                    </div>

                    <div class="flex-item">
                        <img class="img-responsive" src="/assets/jQueryLbt/images/item3.jpg"/>
                    </div>

                    <div class="flex-item">
                        <img class="img-responsive" src="/assets/jQueryLbt/images/item4.jpg"/>
                    </div>

                    <div class="flex-item">
                        <img class="img-responsive" src="/assets/jQueryLbt/images/item5.jpg"/>
                    </div>

                    <div class="flex-item">
                        <img class="img-responsive" src="/assets/jQueryLbt/images/item6.jpg"/>
                    </div>
                </div>

                <div class="carousel-inner" role="listbox">

                </div>

                <a class="left carousel-control" href="#simple-content-carousel" role="button" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#simple-content-carousel" role="button" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/assets/jQueryLbt/js/bootstrap.min.js"></script>
<script src="/assets/jQueryLbt/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/assets/jQueryLbt/js/flexible-bootstrap-carousel.js"></script>
<script type="text/javascript" src="/assets/jQueryLbt/js/script.js"></script>
</body>
</html>