<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ckh2019.pawnshop.commons.mapper.OrderMapper">
    <!--     @TableId(type = IdType.AUTO)
    private Integer oid;
    /**
     * 价格id
     */
    private Integer pid;

    private Integer uid;

    /**
     * 当铺id
     */
    private Integer bid;

    /**
     * 商品id
     */
    private String gid;

    private Integer status;

    private Double price;-->
    <select id="queryOrderByAnd" resultType="order">
        select * from orders
        <where>
            <if test="oid!=null">
                and oid = #{oid}
            </if>
            <if test="pid!=null">
                and pid = #{pid}
            </if>
            <if test="uid!=null">
                and uid = #{uid}
            </if>
            <if test="bid!=null">
                and bid = #{bid}
            </if>
            <if test="gid!=null and gid != ''">
                and gid = #{gid}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
        order by seller_start_order_date desc
    </select>

</mapper>